<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dly2022.mapper.UserMapper">

    <select id="login" resultType="com.dly2022.pojo.User" parameterType="java.lang.String">
        select id, username, password, age, birth from user where username=#{username} limit 1;
    </select>
</mapper>